<div class="row">
    <div class="col-md-8">
        <board></board>
    </div>

    <div class="col-md-4">
        <ul id="players" class="list-group">
            <li ng-repeat="player in players">
                <div class="avatar"><img ng-src="{{ player.element.image }}" alt="{{ player.name }}"></div>
                <div class="name">{{ player.name }}</div>
                <div class="field_num">No.</div>
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <button class="btn btn-mini" ng-repeat="player in players">{{ player.name }}</button>
    </div>
    <div class="col-md-4" ng-controller="DiceCtrl">
        <div dice=""></div>
        <button class="btn btn-primary" ng-click="roll()">Roll</button>
    </div>
</div>