<div class="row">
    <div class="span8">
        <ul id="mapa">
            <li ng-repeat="field in fields" data-field-index="{{ $index }}" style="background-image: url({{ field.image }});">
                <span class="badge badge-inverse">{{ $index +1 }}</span>
            </li>
        </ul>
    </div>
    <div class="span2">
        <input ng-model="numberOfFields" type="number" style="width: 100%;" placeholder="Number of fields"/>
    </div>
    <div class="span2">
        <button class="btn btn-primary" ng-click="generate()">Generate Map</button>
    </div>

</div>

