<div class="row">
    <div class="col-md-8">
        <carousel interval="myInterval">
            <slide ng-repeat="slide in slides" active="slide.active">
                <img ng-src="{{slide.image}}" style="margin:auto;">

                <div class="carousel-caption">
                    <h4>{{slide.text}}</h4>

                    <p class="pull-right">
                        <button type="button" ng-click="addPlayer($index)" class="btn btn-lg btn-primary"><span
                                class="glyphicon glyphicon-ok-circle"></span>Add Player
                        </button>
                    </p>
                </div>
            </slide>
        </carousel>
        <div class="row-fluid">
            <div class="col-md-12">
                <ul id="elements_mini_btns">
                    <li ng-repeat="slide in slides">
                        <button class="btn btn-xs" ng-class="{'btn-info': !slide.active, 'btn-warning': slide.active}"
                                ng-click="slide.active = true">{{slide.text}}
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="input-group" ng-repeat="player in players">
            <div class="btn-group">
                <button type="button" class="btn btn-default btn-primary" ng-model="player.human" btn-radio="true">Human</button>
                <button type="button" class="btn btn-default btn-primary" ng-model="player.human" btn-radio="false">CPU</button>
            </div>
            <input ng-model="player.name" type="text" style="width: 120px;">
            <input ng-model="player.color" type="color"/>
            <button class="close-inverse" ng-click="removePlayer($index)">&times;</button>
        </div>
    </div>
</div>
